#!/bin/bash

cd [% working_dir %]
sleep 1;

echo "common_name,taxon_id,chr,length,assembly" > chr_length.csv

[% FOREACH item IN data -%]
# [% item.name %]
faops size [% item.dir %]/*.fa > [% item.dir %]/chr.sizes;
perl -nla -F"\t" -e '
    print qq{[% item.name %],[% item.taxon %],$F[0],$F[1],}
' \
    [% item.dir %]/chr.sizes \
    >> chr_length.csv;

[% END -%]

echo "==> chr_length.csv generated <=="
